<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EFCache" version="2.1.2" targetFramework="net451" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net46" requireReinstallation="true" />
</packages>